@model CoolEventsWeb.ViewModels.UserViewModel

<p>
    <a asp-action="Create">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
